<div class="contact-us container my-5">
  <button class="btn btn-secondary btn-sm rounded-pill my-3"><i class="fa fa-sm fa-leaf me-2"
      aria-hidden="true"></i>Have a any Questions?</button>
  <div class="row">
    <!-- Contact Form -->

    <div class="col-md-6 shadow p-3">
      <h2 class="d-flex justify-content-center mb-3 ">Get in Touch!</h2>
      <form #contactForm="ngForm">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="Name" placeholder="abc">
          <label for="Name">Name</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="Email" placeholder="name@example.com">
          <label for="Email">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input type="tel" class="form-control" id="MobileNumber" placeholder="1234567890">
          <label for="MobileNumber">Mobile Number</label>
        </div>
        <div class="form-floating mb-3">
          <textarea class="form-control" id="Message" placeholder="Message" style="height: 100px;"></textarea>
          <label for="Message">Message</label>
        </div>
        <button type="submit" class="btn btn-primary">Send Message</button>
      </form>
    </div>

    <!-- How Can We Help You Section -->
    <!-- <div class="col-md-6">
              <h2>How Can We Help You?</h2>
              <div class="help-box">
                <p>We're here to assist you with any questions or concerns you might have. Whether it's about our products, services, or something else, don't hesitate to reach out!</p>
                <ul>
                  <li>Support: supportexample.com</li>
                  <li>Customer Service: 123-456-7890</li>
                  <li>Feedback: feedbackexample.com</li>
                </ul>
              </div>
            </div> --> 
    <div class="col-md-6 col-sm-12">
      <div class="card-container row mx-5">
        <div class="card my-2 card-left col-sm-12">
          <div class="card-body">
            <h5 class="card-title"> <i class="fa fa-envelope fa-sm me-2" aria-hidden="true"></i> Mail us 24/7</h5>
            <p class="card-text">
              pbminfo&#64;admin.com <br />
              pbmadmin&#64;info.com
            </p>
          </div>
        </div>
        <div class="card my-2 card-right col-sm-12 text-right">
          <div class="card-body">
            <h5 class="card-title"> <i class="fa fa-phone fa-sm me-2" aria-hidden="true"></i> Call us 24/7</h5>
            <p class="card-text">
              Phone: (+55) 654 - 545 - 5418 <br />
              Mobile: (+01) 654 - 545 - 1235
            </p>
          </div>
        </div>
        <div class="card my-2 card-left col-sm-12">
          <div class="card-body">
            <h5 class="card-title"> <i class="fa fa-map-pin fa-sm me-2" aria-hidden="true"></i>Our Locations</h5>
            <p class="card-text">
              4821 Ride Top, Anch St, Alaska <br />
              997998, USA main city.
            </p>
          </div>
        </div>

      </div>

    </div>
  </div>