/* You can add global styles to this file, and also import other style files */

:root {
    // src/styles/_variables.scss

// --primary-color: #37C2CC;
// --secondary-color: #d9f8fa;
// --dark-text: rgba(0, 0, 0, 0.7);
// --light-text: rgba(0, 0, 0, 0.6);
// --primary-content: #C2FBFF;


--light-0:#D8F3DC;
--light-1:#B7E4C7;
--light-2:#95D5B2;
--light-3:#74C69D;
--light-4:#52B788;
--dark-0:#40916C;
--dark-1:#2D6A4F;
--dark-2:#1B4332;
--dark-3:#081C15;

  }
