<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<div class="main">

  <div class="hero main-container">
    <div class="container-fluid d-flex row">

      <div class="image ms-0 col-md-12 col-lg-6 col-sm-12">
        <img src="/assets/images/indian-farmer-using-drone-spraying-600nw-2116655078.png" alt="Agriculture Image">
      </div>
      <div class="content col-md-12 col-lg-6 col-sm-12">
        <h1>Welcome To My Website</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores, consequuntur?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis necessitatibus asperiores perferendis amet,
          blanditiis velit beatae inventore explicabo repudiandae distinctio.</p>
        <button class="btn btn-lg btn-custom">Get Started</button>
      </div>
    </div>
  </div>

  <!-- counter -->
  <!-- stats.component.html -->
  <!-- stats-section.component.html -->
  <div class="stats-section container my-5">
    <div class="row align-items-center">
      <!-- Left Side Content -->
      <div class="col-md-6 stats-section-content">
        <h2>About Us</h2>
        <p>
          We are committed to providing the best seeds and farming support to farmers globally.
          Our vision is to empower farmers with top-quality products and reliable service.
        </p>
        <ul>
          <li>High-quality seeds sourced from trusted suppliers.</li>
          <li>Expert advice and support available 24/7.</li>
          <li>Global reach with presence in multiple countries.</li>
        </ul>
      </div>

      <!-- Right Side Counters -->
      <div class="col-md-6 counters">
        <div class="row">
          <div class="col-sm-4 counter-box">
            <div class="counter-icon">
              <i class="fas fa-tractor"></i>
            </div>
            <h3>
              <span [countUp]="trustedFarmers"></span>+
            </h3>
            <p>Trusted Farmers</p>
          </div>

          <div class="col-sm-4 counter-box ">
            <div class="counter-icon">
              <i class="fas fa-thumbs-up"></i>
            </div>
            <h3>
              <span [countUp]="positiveFeedback"></span>%
            </h3>
            <p>Positive Feedback</p>
          </div>

          <div class="col-sm-4 counter-box">
            <div class="counter-icon">
              <i class="fas fa-globe"></i>
            </div>
            <h3>
              <span [countUp]="presenceCountries"></span>
            </h3>
            <p>Presence in Countries</p>
          </div>

          <div class="col-sm-4  counter-box">
            <div class="counter-icon">
              <i class="fas fa-seedling"></i>
            </div>
            <h3>
              <span [countUp]="uniqueProducts"></span>
            </h3>
            <p>Unique Products</p>
          </div>
        </div>
      </div>
      <!-- <div  class="col-md-6 counters" *ngIf="statesData$ |async as statesData">
    
      <div *ngFor="let states of statesData">
        <div class="counter-icon">
            <h3>{{ states.fields.title }}</h3>
            <p>{{states.fields.number}}</p>
            <div class="styled-hover-line"></div>
        </div>
    </div> -->
    </div>
  </div>
</div>



<!-- why chose us -->
<!-- Right Side: Stylish Rectangular Boxes -->

<div class="why-choose-us-container container ">
  <div class="row">
    <!-- Left Side: Two Boxes -->
    <div class="col-md-4">
      <div class="box text-right">
        <h3> Vision <i class="fas fa-eye fa-2x fa-sm"></i></h3>
        <p>Our vision is to revolutionize the agricultural industry by solutions that foster sustainable practices. We
          aim to be the most trusted partner for farmers worldwide. </p>
      </div>
      <div class="box text-right">
        <h3>Mission <i class="fas fa-rocket fa-2x fa-sm"></i></h3>
        <p>To deliver the highest quality seeds and services that empower farmers and enhance food security.</p>
      </div>
    </div>


    <!-- Middle: Image Box -->
    <div class="col-md-4 d-flex align-items-center justify-content-center">
      <div class="image-box  ">
        <img src="/assets/images/why-choose-us-symbol-text-260nw-2396164945-removebg-preview.png"
          alt="Description of Image" class="img-fluid">
      </div>
    </div>

    <!-- Right Side: Two Boxes -->
    <div class="col-md-4">

      <div class="box text-left">
        <h3><i class="fa fa-lightbulb" aria-hidden="true"></i> Innovation</h3>
        <p>We are constantly innovating to provide more value to our customers and partners. Stay tuned for exciting
          updates and opportunities to grow with us.</p>
      </div>
      <div class="box text-left">
        <h3><i class="fas fa-star fa-sm"></i>Values</h3>
        <p>Integrity, Innovation, Sustainability and Customer Satisfaction are at the core of everything we do.</p>
      </div>
    </div>
  </div>
</div>

<!-- </div> -->

<div class="testimonial-section container hero2">

  <!-- Left Side Heading -->
  <div class="col-md-6">
    <h2>What Happy Customers Say</h2>
    <p class="">From beginners to experienced growers, ABC Seeds offers something for everyone. The seeds are
      high-quality, easy to grow, and produce beautiful, healthy plants. I recommend them to anyone looking to start or
      expand their garden</p>
  </div>
  <div class="testimonial-wrapper col-md-6">
    <div class="testimonial-card" *ngFor="let testimonial of testimonials; let i = index"
      [class.active]="activeIndex === i" (click)="showNextTestimonial(i)">
      <div class="stars">
        <i class="fas fa-star" *ngFor="let star of [].constructor(testimonial.rating)"></i>
      </div>
      <p class="message">{{ testimonial.message }}</p>
      <h4 class="name">- {{ testimonial.name }}</h4>
    </div>
  </div>
</div>
