/* You can add global styles to this file, and also import other style files */

:root {
    // src/styles/_variables.scss

--primary-color: #37C2CC;
--secondary-color: #d9f8fa;
--dark-text: rgba(0, 0, 0, 0.7);
--light-text: rgba(0, 0, 0, 0.6);
--primary-content: #C2FBFF;

  }
